{% extends "admin_base.html" %}
{% load static %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<style>
    .flex-item{
        background-color: #212234;
        border-radius: 0.75rem;
        color: white;
    }
    .chat{
        background-color: #24232c;
        border-radius: 0.75rem;
        min-width: 280px;
    }
    .small{
        font-size: 16px !important;
    }
    .extra-small{
        font-size: 12px;
    }
    .lighter{
        font-weight: 300;
        font-size: 14px;
    }
    .user-admin,.activity{
        min-width: 280px;
    }
    .menu{
        font-size: 14px;
        color: #54555f;
    }
    .seen{
        color: #07c493;
    }
    .vl-holder{
        height:90%;
        width: 10px;
        border-right: 1px solid #54555f;
    }
    .white{
        color: white;
    }
    .flex-item{
        overflow-y: auto;
        /* overflow-x: hidden; */
        max-height: 350px;  
        max-width: 350px; 
       
    }
    .no-style{
  background-color: inherit;
  border: none;
  color: white;
}
.no-style::-ms-expand {
    display: none;
}
.activity-holder{
    font-size: 14px;
}



</style>
<script>
    fetch("/api/activities/").then(response=>response.json())
    .then(data=>{
        console.log(data)
        data.activities.forEach(add_activity)
    })
    fetch("/api/threads/").then(response=>response.json())
    .then(data=>{
        console.log(data)
        data.threads.forEach(add_thread)
    })
    fetch("/api/users/").then(response=>response.json())
    .then(data=>{
        console.log(data)
        document.querySelector("#users-count").innerText=`Users (${data.users.length})`
        data.users.forEach(add_user)
    })
</script>
<div class="row">
    <h3 class="white">{{ user.username }} Profile</h3>
    <p class="white">Welcome to admin Dashboard</p>
</div>
<div class="d-flex">
    <div class="flex-item p-4 m-3">
        <div class="row top-row">
            <div class="col-10">
                <p>Latest Message</p>
            </div>
            <div class="col-2 dropdown">
                
                
                    <button class=" no-style" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-plus small seen " id="create-message"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="create-message-dropdown">
                      
                      
                    </ul>
                
            </div>
        </div>
        <div class="body-bottom">
            <div class="chat-holder">
                
            </div>

        </div>
    </div>
    <div class="flex-item p-4 m-3">
        <div class="row top-row">
            <div class="col-10">
                <p id="users-count"></p>
            </div>
            <div class="col-2">
                <i class="fas fa-plus small seen" id="add-user"></i>
                
            </div>
        </div>
        <div class="body-bottom">
            <div class="users-holder">
                
            </div>

        </div>
    </div>
    <div class="flex-item p-4 m-3">
        <div class="row top-row">
            
                <p>Recent Activity</p>
            
        </div>
        <div class="body-bottom">
            <div class="activity-holder">
                
            </div>

        </div>
    </div>
    
</div>

<script>
    $("#create-message").on("click",function(){
        
        $.ajax({
            url:"/api/users/",
            method:"get",
            success:function(data){
                data.users.forEach(add_user_dropdown)
            }
        })
    $(".create-message-opt").on("click",function(){
        alert("hi")
    })        
    })
    

    function add_user_dropdown(user){
        user_html=`<li><p class="dropdown-item create-message-opt" onclick="CreateChat(event)">${user.username}</p></li>`
        document.querySelector("#create-message-dropdown").innerHTML+=user_html
    }
    function CreateChat(e){
        target_user= e.target.innerText
        $.ajax({
            url:`/api/chat-admin/${target_user}/`,
            method:"get",
            success:function(data){
                window.other_user=data.thread.second.username
                document.querySelector(".thread-username").innerText=window.other_user
                document.querySelector("#Chatbox").innerHTML=""
                data.thread.chat.forEach(add_message)
                OpenSlideMenu()
            }
        })
    }
    
    $("#add-user").on("click",function(){
        window.location.href="/admin/auth/user/add/"
    })
    function add_user(user){
        user_html=`<div class="user-admin row px-2 py-1 my-2">
                    <div class="col-2">
                        <img src="" alt="" class="profile-img">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <p>${user.username}</p>
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center justify-content-center">
                        <div class="row">
                            <i class="fas fa-ellipsis-v menu"></i>
                        </div>
                    </div>
                </div>`
                document.querySelector(".users-holder").innerHTML+=user_html
    }
    function add_thread(thread){
        if (thread.chat.length >0){
            console.log(thread)
            thread_html=`<div class="chat row px-2 py-1 my-2">
                        <div class="col-2">
                            <img src="" alt="" class="profile-img">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <p>${thread.second.username}</p>
                            </div>
                            <div class="row">
                                <p class="message lighter">${thread.chat[thread.chat.length-1].message}</p>
                            </div>
                        </div>
                        <div class="col-2 p-0">
                            <div class="row">
                                
                            </div>
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>`
                    document.querySelector(".chat-holder").innerHTML+=thread_html
        }
                $(".chat").on("click",function(){
                    
                    other_user=this.children[1].children[0].children[0].innerText
                    window.other_user=other_user
                    $.ajax({
                        url:`/api/chat-admin/${other_user}/`,
                        method:"get",
                        success:function(data){
                            document.querySelector("#Chatbox").innerHTML=""
                            OpenSlideMenu();
                            console.log()
                            document.querySelector(".thread-username").innerText=data.thread.second.username
                            data.thread.chat.forEach(add_message)
                        }
                    })
                })
    }
    function add_activity(activity){
        activity_html=`<div class="activity row px-2 py-1">
                    <div class="col-2">
                        <i class="fas fa-dot-circle seen small"></i>
                        <div class="vl-holder">

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p class="timestamp">${new Date(activity.timestamp).toLocaleString()}</p>
                        </div>
                        <div class="row">
                            <p class="activity lighter">A transaction was created by ${activity.user.username} for ${activity.Type} of ${activity.product.name} worth ${activity.price}</p>
                        </div>
                    </div>
                    
                </div>`
        document.querySelector(".activity-holder").innerHTML+=activity_html
    }
    function add_message(message){
    if (message.user.username=="{{ request.user.username }}"){
      message_html=`<li class="user my-1">
                    <div class="message-div">
                      <div class="message-wrapper px-3 py-1 ours">
                        <p class="message">${message.message}</p>
                      </div>
                    </div>
                  </li>`
                }
    else{
      message_html=`<li class="other my-1">
                    <div class="message-div">
                      <div class="message-wrapper px-3 py-1 theirs">
                        <p class="message">${message.message}</p>
                      </div>
                    </div>
                  </li>`
    }
    document.querySelector("#Chatbox").innerHTML+=message_html
  }
</script>
{% endblock %}