{% extends 'admin_base.html' %}
{% load static %}
{% block title %}
Suggestions
{% endblock %}
{% block content %}
<style>
        body {
          font-family: Arial;
          background-color: #101119;
        }
        
        * {
          box-sizing: border-box;
        }
        
        form.searchbar input[type=text] {
          padding: 5px;
          font-size: 17px;
          border: 1px solid grey;
          float: left;
          width: 70%;
          background:#666773;
          margin-left: 160px;
        }
        
        form.searchbar button {
          float: left;
          width: 5%;
          padding: 5px;
          background: #666773;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;
        }
        
        form.searchbar button:hover {
          background: #0b7dda;
        }
        
        form.searchbar::after {
          content: "";
          clear: both;
          display: table;
        }
        body { 
           /* margin: 0;  */
           font-family: "Lato", sans-serif;
         } 
        
        .sidebar {
          margin: 0;
          padding: 0;
          width: 150px;
          background-color: #10152c;
          position: fixed;
          height: 100%;
          overflow: auto;
        }
        .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
}
.container{
      margin-left: 175px !important;
      margin-right: 175px !important;
      
}
.suggestion-heading{
  font-size: 16px;
  color: white;
}
.suggestion{
  background-color: #212234;
  color: white;
}
.suggestion-text{
  opacity: 0.7;
}
.fa-arrow-up{
  color: #00f5b0;
}
.fa-arrow-down{
  color:#e02020;
}
.text-right{
  text-align: right;
}
.extra-small{
  font-size: 13px;
}
.medium{
  font-size: 20px !important;
}
.time{
  opacity: 0.7;
}
.like,.upvote,.downvote:hover{
  cursor: pointer;
}
textarea{
  max-width: 500px;
  margin: auto;
  background-image: none !important;
}
.green{
        color: #00cc96;
      }
.rounded-pill{
  background-color: #00cc96;
  border: none;

}
.rounded-pill:hover{
  background-color: #00f5b0;
}
</style>

    <script>
      $(document).ready(function() {
        fetch("/api/suggestions/")
        .then(response => response.json())
        .then(data=>{
          console.log(data.suggestions);
          data.suggestions.forEach(add_suggestion);
          })
      });
    </script>

    
           <div class="suggestions-wrapper m-5">
              <p class="suggestion-heading">All Suggestions()</p>
              <div class="suggestions">
                
              </div>
            </div>
            <div class="row m-5 text-center">
              <h4 class="green">Add Suggestion</h4>
              <form action="{% url 'AddSuggestion' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-center my-3">
                  
                  <textarea name="suggestion" placeholder="Suggestion" id="suggestion-input" cols="30" rows="1" class="form-select"></textarea>
                </div>
                <button class="btn btn-primary rounded-pill suggestion-submit px-4" type="submit">Submit</button>
              </form>
            </div>
            <script>
              function add_suggestion(suggestion){
                console.log(suggestion.timestamp.date)
                temp=`<div class="col-8 d-flex" data-id="${suggestion.id}">
                              <div class="mx-2 like" ><p><i class="far fa-heart medium"></i> likes</p></div>
                              <div class="mx-2 upvote"><p><i class="fas fa-arrow-up medium"></i> ${suggestion.upvotes.length}</p></div>
                              <div class="mx-2 downvote"><p><i class="fas fa-arrow-down medium"></i> ${suggestion.downvotes.length}</p></div>
                              
                            </div>`
                l=suggestion.likes.length
                for(i=0; i<l; i++){
                  if(suggestion.likes[i].by.username == suggestion.user.username){
                    temp=`<div class="col-8 d-flex" data-id="${suggestion.id}">
                              <div class="mx-2 like" ><p><i class="fas fa-heart medium"></i> likes</p></div>
                              <div class="mx-2 upvote"><p><i class="fas fa-arrow-up medium"></i> ${suggestion.upvotes.length}</p></div>
                              <div class="mx-2 downvote"><p><i class="fas fa-arrow-down medium"></i> ${suggestion.downvotes.length}</p></div>
                              
                            </div>`
                  }
                  
                }
                suggestion_html=`<div class="row suggestion rounded my-3">
                      <div class="col-1 py-1">

                      </div>
                      <div class="col-11 py-2">
                          <div class="row"><p><strong>${suggestion.user.username}</strong></p></div>
                          <div class="row"><p class="suggestion-text small">${suggestion.content}</p></div>
                          <div class="row suggestion-opt-holder">
                            ${temp}
                            <div class="col-4">
                              <div class="m-2 text-right"><p class="time extra-small gray">${new Date(suggestion.timestamp).toLocaleString()}</p></div>
                            </div>
                              
                          </div>
                      </div>
                  </div>`
                  
                  document.querySelector(".suggestions").innerHTML+=suggestion_html

                  $(".like").on("click",function(){
                    console.log(this.parentElement)
                    var suggestion_id=this.parentElement.dataset.id
                    var target=this
                      $.ajax({
                        url:`/like/${suggestion_id}/`,
                        method:"get",
                        success:function(data){
                          if(data.message=="liked"){
                            target.innerHTML='<p><i class="fas fa-heart medium"></i> likes</p>'
                          }
                          else{
                            target.innerHTML='<p><i class="far fa-heart medium"></i> likes</p>'
                          }
                        },
                        error:function(e){
                          console.log(e)
                        }

                      })


                    })
                    $(".upvote").on("click",function(){
                    console.log(this.parentElement)
                    var suggestion_id=this.parentElement.dataset.id
                    var target=this
                      $.ajax({
                        url:`/upvote/${suggestion_id}/`,
                        method:"get",
                        success:function(data){
                          target.innerHTML=`<p><i class="fas fa-arrow-up medium"></i> ${data.upvotes}</p>`
                          target.nextElementSibling.innerHTML=`<p><i class="fas fa-arrow-down medium"></i> ${data.downvotes}</p>`
                          
                        },
                        error:function(e){
                          console.log(e)
                        }

                      })


                    })
                    $(".downvote").on("click",function(){
                    console.log(this.parentElement)
                    var suggestion_id=this.parentElement.dataset.id
                    var target=this
                      $.ajax({
                        url:`/downvote/${suggestion_id}/`,
                        method:"get",
                        success:function(data){
                          target.innerHTML=`<p><i class="fas fa-arrow-down medium"></i> ${data.downvotes}</p>`
                          target.previousElementSibling.innerHTML=`<p><i class="fas fa-arrow-up medium"></i> ${data.upvotes}</p>`
                          
                        }

                      })


                    })
              }
              
              // function like_handler(e){
              //   console.log(e)
              //   
              // }
            </script>
{% endblock %}
       
    