<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list and tables</title>
</head>
<body>
    <ul type="circle">
        <li>this is first item of unoredred list</li>
        <li>this is second item of unoredred list</li>
        
            <ul>
                <li>another one</li>
                <li>another two</li>
            </ul>
        
        <li>this is third item of unoredred list</li>
    </ul>
    <ol type="1">
        <li>this is first item of oredred list</li>
        <li>this is second item of oredred list</li>
        <li>this is third item of oredred list</li>
        <ol>
            <li>new ordered list one</li>
            <li>new ordred list two</li>
        </ol>
    </ol>
    <h3>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th>Employee ID</th>
                    <th>Employe Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>talha</td>
                    <td>12345</td>
                    <td>cs</td>
                </tr>
                <tr>
                    <td>abc</td>
                    <td>1235</td>
                    <td>csff</td>
                </tr>
                <tr>
                    <td>tyui</td>
                    <td>8525</td>
                    <td>hello</td>
                </tr>
            </tbody>
        </table>
    </h3>
</body>
</html>