<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <h2>Forms Practise</h2>
    <form action="backend.php">
        <label for="name">Name</label>
        <div>
            <input type="text" name="myName" id="name">
        </div>
        <br>
        <label for="role">Role</label>
        <div>
            <input type="text" name="myRole" id="role">
        </div>
        <br>
        <label for="email">Email</label>
        <div>
            <input type="email" name="myEmail" id="email">
        </div>
        <br>
        <label for="date"> Date</label>
        <div>
            <input type="date" name="myDate" id="date">
        </div>
        <br>
        <label for="gender">Gender</label>
        <div>
            Male <input type="radio" name="myGender" id="gender"> Female <input type="radio" name="myGender" id="gender">
        </div>
        <br>
        <div>
            <label for="car">Car</label>
            <select name="myCar" id="car">
                <option value="honda Civic">Honda Civic</option>
                <option value="Honda BRV">Honda BRV</option>
                <option value="Changan Alsvin">Changan Alsvin</option>
            </select>
        </div>
        <br>
        <div>
            <input type="submit" value="Submit Now">
            <input type="reset" value="Reset">
        </div>
    </form>
    
</body>
</html>