<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links and images</title>
</head>
<body>
    <a href="https://google.com" target="=_blank ">google</a><br>
    <a href="/Untitled-1.html" target="=_blank">go to html </a><br>
    <img src="talha.jpg" alt="Error"><br>
    <img src="https://source.unsplash.com/user/erondu/1600x900" alt="image not shown">
</body>
</html>