{% extends 'base.html' %}
{% load static %}
{% block title %}
Transaction
{% endblock %}

{% block content %}
<style>
        body {
          font-family: Arial;
          background-color: #101119;
        }
        
        * {
          box-sizing: border-box;
        }
        
        form.searchbar input[type=text] {
          padding: 5px;
          font-size: 17px;
          border: 1px solid grey;
          float: left;
          width: 70%;
          background:#666773;
          margin-left: 160px;
        }
        
        form.searchbar button {
          float: left;
          width: 5%;
          padding: 5px;
          background: #666773;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;
        }
        
        form.searchbar button:hover {
          background: #0b7dda;
        }
        
        form.searchbar::after {
          content: "";
          clear: both;
          display: table;
        }
        body { 
           /* margin: 0;  */
           font-family: "Lato", sans-serif;
         } 
        
        .sidebar {
          margin: 0;
          padding: 0;
          width: 150px;
          background-color: #10152c;
          position: fixed;
          height: 100%;
          overflow: auto;
        }
        .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
}
.container{
      margin-left: 175px !important;
      margin-right: 175px !important;
      
}
.r-1{
    color: #1b1f2e;
    text-decoration: none;
}
.form-control{
    background-color: #10131f;
    border:none;
    color: white;
}
.table{
    color: white;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 75%;
}
.tr-1{
   
    border-radius: 1rem;
    border: none;
    border-style: none !important;
   
}
.form-wrapper{
  color: white;
}
tbody, td, tfoot, th, thead, tr{
  border: none !important;
  border-style: none !important;
  border-color: none !important;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}
.table-container{
  border:1px solid #1b1f2e;
}
.top-link{
  color:#2f3650;
  text-decoration: none;
}
.top-link:hover{
  color: #00f5b0;
  transition: 0.3s;
  cursor: pointer;
}
.active-link{
  color: #00f5b0;
}
.option-select{
  border-bottom: 3px solid #2f3650 ;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.transaction-img{
  max-width: 50px;
  border-radius: 50%;
}
td{
  font-weight: 550;
   
  font-size: 15px;
  color: #d9d9d9;
}
.not-include{
  background-color: #101119 !important;
  /* padding-left: 5rem; */

}
.td-1{
  border-radius: 0.75rem 0px 0px 0.75rem;
}
.td-3{
  border-radius: 0px 0.75rem 0.75rem 0px;
}
.td-1,.td-2,.td-3{
  background-color: #5a5d6c !important;
}
.small{
  font-size: 16px !important;
}
.edit-opt:hover{
  cursor: pointer;
  color: white;
}
</style>
    
        <div class="table-container rounded">      
            <div class="form-wrapper px-4 py-3">
                <h3>Transactions</h3>
            </div>
       
        
            <div class="form-wrapper px-4 py-3 no-border">
              <div class="data-bottom-wrapper">
                <div class="d-flex option-select">
                    <div class="r-1">
                        <a  class="top-link active-link" id="all">All</a>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="r-1" >
                        <a class="top-link"  id="purchase">Purchases</a>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="r-1">
                        <a  class="top-link" id="sale">Sales</a>
                    </div>
                </div>
                <!-- <hr> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Collection</th>
                        <th scope="col">Data</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for transaction in transactions %}
                      <tr class="tr-1"  data-id="{{ transaction.pk }}">
                        
                          <td class="td-1"><img src="{{ transaction.product.image.url }}" class="transaction-img px-2" alt="">{{ transaction.product }}</td>
                          <td class="td-2">{{ transaction.price }}</td>
                          <td class="td-2">{{ transaction.quantity }}</td>
                          <td class="td-3">{{ transaction.timestamp }}</td>
                          <td class="not-include"><i class="fas fa-ellipsis-h small gray edit-opt"></i></td>  
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
    <script>
      $(".edit-opt").on("click",function(){
        
        var transaction_id= this.parentElement.parentElement.dataset.id
        $.ajax({
          url:`/transaction/${transaction_id}/`,
          method:"get",
          success:function(data){
            console.log(data)
            var transaction_id_modal=$("#transaction-id")
            transaction_id_modal[0].value=data.transaction.id
            var transaction_product_modal=$("#product-select")[0]
            
            $(data.products).each(function(){
              console.log(this)
              var temp_opt=`<option value="${this.id}">${this.name}</option>`
              if(data.transaction.product.id == this.id){
                temp_opt=`<option value="${this.id}" selected>${this.name}</option>`
              }
              transaction_product_modal.innerHTML+=temp_opt
            })
            
            var transaction_price_modal=$("#transaction-price")[0]
            transaction_price_modal.value= data.transaction.price

            var transaction_quantity_modal=$("#transaction-quantity")[0]
            transaction_quantity_modal.value= data.transaction.quantity

            var transaction_date_modal=$("#transaction-date")[0]
            transaction_date_modal.value= data.transaction.timestamp

            $("#transaction-edit-modal").modal("toggle")
          }
        })
      })
      $(".save-edit").on("click",function(){
        
        // var transaction_id= this.parentElement.parentElement.dataset.id
        var form_data= new FormData($(".transaction-edit-form")[0])
        
        $.ajax({
          url:`/edit-transaction/`,
          method:"post",
          data:form_data,
          processData:false,
          contentType:false,
          success:function(data){
            // console.log(data)
            console.log(data.transaction)
            var transaction_row = $(`.tr-1[data-id="${data.transaction.id}"]`)
            var children=transaction_row[0].childNodes
            console.log(children)
            children[1].innerHTML=`<img src="${data.transaction.product.image}" class="transaction-img px-2" alt="">${data.transaction.product.name}`
            children[3].innerHTML=data.transaction.price
            children[5].innerHTML=data.transaction.quantity
            children[7].innerHTML=data.transaction.timestamp

             $("#transaction-edit-modal").modal("toggle")
              
            
            
          }
        })
      })
      $(".top-link").on("click",function(){
        var filter=this.id
        
        Transaction(filter)

      })
      function Transaction(filter){
        var links=$(".top-link")
        $(links).each(function(){
          this.className="top-link"
          if(this.id == filter){
            this.className="top-link active-link"
          }
        })
        $.ajax({
          url:`/transactions-filter/${filter}/`,
          method:"get",
          success:function(data){
            var table_body=document.querySelector("tbody")
            table_body.innerHTML=''
            $(data.transactions).each(function(){
              temp_data_to_add=`<tr class="tr-1"  data-id="${this.id}">
                        
                        <td class="td-1"><img src="${this.product.image}" class="transaction-img px-2" alt="">${this.product.name}</td>
                        <td class="td-2">${this.price}</td>
                        <td class="td-2">${this.quantity}</td>
                        <td class="td-3">${this.timestamp}</td>
                        <td class="not-include"><i class="fas fa-ellipsis-h small gray edit-opt"></i></td>  
                    </tr>`
              table_body.innerHTML+=temp_data_to_add

            })
          }
        })
      }
    </script>
{% endblock %}