{% extends 'base.html' %}
{% load static %}
{% block title %}
Transaction
{% endblock %}

{% block content %}
<style>
        body {
          font-family: Arial;
          background-color: #101119;
        }
        
        * {
          box-sizing: border-box;
        }
        
        form.searchbar input[type=text] {
          padding: 5px;
          font-size: 17px;
          border: 1px solid grey;
          float: left;
          width: 70%;
          background:#666773;
          margin-left: 160px;
        }
        
        form.searchbar button {
          float: left;
          width: 5%;
          padding: 5px;
          background: #666773;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;
        }
        
        form.searchbar button:hover {
          background: #0b7dda;
        }
        
        form.searchbar::after {
          content: "";
          clear: both;
          display: table;
        }
        body { 
           /* margin: 0;  */
           font-family: "Lato", sans-serif;
         } 
        
        .sidebar {
          margin: 0;
          padding: 0;
          width: 150px;
          background-color: #10152c;
          position: fixed;
          height: 100%;
          overflow: auto;
        }
        .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
}
.container{
      margin-left: 175px !important;
      margin-right: 175px !important;
      
}
.r-1{
    color: #1b1f2e;
    text-decoration: none;
}
.form-control{
    background-color: #10131f;
    border:none;
    color: white;
}
.table{
    color: white;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 75%;
}
.tr-1{
    background-color: #5a5d6c;
    border-radius: 1rem;
    border: none;
    border-style: none !important;
   
}
.form-wrapper{
  color: white;
}
tbody, td, tfoot, th, thead, tr{
  border: none !important;
  border-style: none !important;
  border-color: none !important;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}
.table-container{
  border:1px solid #1b1f2e;
}
.top-link{
  color:#2f3650;
  text-decoration: none;
}
.top-link:hover{
  color: #00f5b0;
  transition: 0.3s;
}
.active-link{
  color: #00f5b0;
}
.option-select{
  border-bottom: 3px solid #2f3650 ;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
</style>
    
        <div class="table-container rounded">      
            <div class="form-wrapper px-4 py-3">
                <h3>Transactions</h3>
            </div>
       
        
            <div class="form-wrapper px-4 py-3 no-border">
              <div class="data-bottom-wrapper">
                <div class="d-flex option-select">
                    <div class="r-1">
                        <a href="all" class="top-link active-link">All</a>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="r-1" >
                        <a class="top-link" href="purchase">Purchases</a>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="r-1">
                        <a href="sales" class="top-link">Sales</a>
                    </div>
                </div>
                <!-- <hr> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Collection</th>
                        <th scope="col">Data</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for transaction in transactions %}
                      <tr class="tr-1 rounded">
                        
                          <td >{{ transaction.product }}</td>
                          <td >{{ transaction.price }}</td>
                          <td >{{ transaction.quantity }}</td>
                          <td >{{ transaction.timestamp }}</td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
    
{% endblock %}